/*Acest fisier va contine stylesheet-urile ce sunt folosite doar pe pagina home-page*/
html{
	font-family: 'Cairo', sans-serif !important;
    width:100%;
    height: 100%;
}



img {
    max-width: 100%!important;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
	.main-title{
		max-width:250px!important;
	}
}

.navbar-fixed {
z-index: 999;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-color:black;
}

.main-title {
	position: absolute;
	display: block;
	margin: 0 auto;
	padding: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	width:400px;
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}


@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

@media only screen and (max-width: 500px) {
    nav .brand-logo{
      width:20%!important;
    }
}
/*Header End*/

/*statistici
#sectionid{
	margin-bottom: -2%;
}

*/

/*De ce sa vii la ITFest?*/

#Section1{
    
    background-image: radial-gradient(mintcream 0%, lightgray 100%);
	text-align: center;
	padding-bottom: 5vh; 
}

hr{
	width:9%;
	margin-top:1.5%;
}

.images{
	padding-bottom: 6%;

}

/*Testimoniale*/
.testimonial{
    height:620px;
    padding: 20px 20px 20px 90px;
    margin: 10px 20px 50px 55px;
    border-left: 2px solid #A4D6B2;
    position: relative;
    cursor: default;
}

.testimonial:after{
    content: "";
    /*border-bottom: 25px solid #A4D6B2;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;*/
    position: absolute;
    left: -2px;
    bottom: -2px;
    width: 40%; /*width of the bottom border*/
 /*in order to correctly align the borders*/
    border-bottom: 2px solid #A4D6B2; 
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #A4D6B2;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -50px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 22px;
    font-weight: 600;
    color: #1D4D25;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: #64c57f;
    text-transform: none;
}
.testimonial .description{
    font-size: 15px;
    color: #1D4D25;
    line-height: 28px;
}
.owl-theme .owl-controls{ margin-top: 10px; }
.owl-theme .owl-controls .owl-page span{
    width: 35px;
    height: 15px;
    border-radius: 0;
    background: #A4D6B2;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #117E3F;
}
@media only screen and (max-width: 479px){
    .testimonial{
        padding: 20px 0 20px 60px;
        margin: 10px 20px 50px 50px;
    }
    .testimonial .title{ font-size: 20px; }
}
.container{
    width: 90%;
}


.flex-container > div { 
    width: 250px;
    background-image: linear-gradient(to top, #051c08, #0c2712, #113318, #17401f, #1d4d25);
}

.flex-container > div .fas,
.flex-container > div h3, 
.flex-container > div p {
  color: #ffffff;
}
.flex-container > div {
    padding:3vh 0;
}