/*Acest fisier va contine stylesheet-urile ce sunt folosite pe toate paginile*/


/* Section Shadows CSS -> stil pentru videoclipul de pe fundal */ 

.mgbot{
  margin-bottom:0!important;
}

.video-container {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3);
}

#sectionid {
    box-shadow: 0 12px 12px 12px rgba(0,0,0,0.7);

}

/* Section Shadows End */

/* Navbar Extra CSS */

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #0E793E;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

/* Navbar Extra End */

/* Video Background CSS */

.video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.jumbo {
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: Futura, Helvetica, sans-serif;
}

.callout {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    margin-top: 20%;
}


.video-container {
    position: relative;
    overflow: hidden;
}

video {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/* Video Background End */


/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #0E793E;
    border: 0 none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0E793E;
}
::-webkit-scrollbar-thumb:active {
    background: #ecc21b;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0 none #ffffff;

}
::-webkit-scrollbar-track:hover {
    background: #ffffff;
}
::-webkit-scrollbar-track:active {
    background: #ffffff;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/* Scroll Bar End */

/* CD-Nugget sau ce pula mea o fi */

.cd-nugget-info a {
    position: fixed;
    right: calc(50% - 90px);
    bottom: 3em;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50em;
    background-image: linear-gradient(to top,#ffd717 0, #f8bb15 100%);
    font-size: 14px;
    color: #1D4D25;;
    -webkit-transition:all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 100;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    opacity: 0.84;
}
.cd-nugget-info a:hover {
    background-image: linear-gradient(to bottom,#0d723a 0,#084c27 100%);
    opacity: 1;
    color: #FFFFFF;
}
.cd-nugget-info span {
    vertical-align: middle;
    display: inline-block;
}
.cd-nugget-info span svg {
    display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
    fill: #ffffff;
}
@media only screen and (min-width: 768px) {
    .cd-nugget-info a {
        right: 3em;
        padding: 1.2em 1em;
    }
}


.container_reg{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    padding: 1em;

    margin: 1em;
    text-align: justify;
    font-family: 'Roboto', sans-serif;


    padding-right: 3em;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 768px) {
    .container_reg {
        width: 750px;
    }
}

/* CD-Nugget sau ce pula mea o fi end */

/*Descrieri*/
#titlu {
    padding-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 195%;
}

.flex-container > div:hover {
    background-image: linear-gradient(to top, #051c08, #0c2712, #113318, #17401f, #1d4d25);
    top: -5px;
}

.flex-container > div:hover .fas, 
.flex-container > div:hover p {
    color: #ffffff;
}

.flex-container > div h4 {
    padding-bottom: 5px;
}

.flex-container > div .fas {
    color: #0E793E;
    font-size: 62px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    color: black;
    cursor: default;
  
}
.flex-container > div {
  
    width: 300px;
    text-align: center;
    margin:5px;
    line-height:100%;
    background: #ffffff;
    border-radius: 5px;
    padding:30px 0;
    position: relative;
    top: 0;
    -webkit-transition: all ease-in-out 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    font-size: 110%;
}

.flex-container > div p {
    margin:5vh 0;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*model div descrieri*/
.flex-container > div .model {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.testimonial{
    height: 300px;
}
.content-testimonial{
    height: 60%;
    overflow: auto;
}

div.testimonial ::-webkit-scrollbar{
    width: 3px;
}

#errors-container {
  color: red;
}
