
footer {
    width: 100%;
    background-color: #124D25;
    padding: 10px 0px;
    position: absolute;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.sisc {
    height: 100%;
    display: flex;
    margin-right:25vw;
}

.sisc p {
    color:white;  
    font-size:12px;
    margin-right:5px;
}

.social a{
    padding-left:7px;
}

.social {
    height: 100%;
}

